.lessonTilesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 3vw;  
}

.initialContainer{
    margin: 4.5vw 9.4vw 4.5vw 9.4vw
}

.initialContainer .pageTitle{
    display: flex;
}

.initialContainer .pageP {
    display: flex;
    opacity: 0.5;
}
.lessonTileBody .btnContainer{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-right: 10%;
}
.btnContainer .btn{
    width: 150px;
}

.lessonTileBody .cardText{
    margin-right: 10%;
}
.lessonTileBody {
    box-sizing: border-box;
    background: lightgray;
    display: flex;
    padding: 12px;
    border-radius: 20px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    flex: 0 0 calc(50% - 10px);
    overflow: hidden;
}

.lessonTileBody div {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.lessonTileBody a {
    display: flex;
    align-items: center;
}

.lessonTileBody img {
    max-height: 200px;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin-left: auto;
}

.picContainer{
    width: 100%;
}
