.lessonTilesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 3vw;  
}

.initialContainer{
    margin: 4.5vw 9.4vw 4.5vw 9.4vw;
}

.initialContainer .pageTitle{
    display: flex;
}

.initialContainer .pageP {
    display: flex;
    color: #757575;
}

.initialContainer .cardText{
    width: 85%;
    color: white;
}

.lessonTileBody .btnContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: flex-start;
}

.lessonTileBody {
    box-sizing: border-box;
    background: lightgray;
    display: flex;
    border-radius: 20px;
    width: 100%;
    height: 27vh;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.lessonTileBody:nth-child(odd){
    background-image: url("../../assets/imagesLessons/bg1.png");

}

.lessonTileBody:nth-child(even) {
    background-image: url("../../assets/imagesLessons/bg2.png");
}

p{
    font-size: 120%;
}

h2{
    margin: 1vh 0vh 1.5vh 0vh;
}

.insTileBody{
    margin: 33px;
}

.lessonTileBody div {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.lessonTileBody a {
    display: flex;
    align-items: center;
}

.lessonTileBody img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin-left: auto;
    padding: unset;
}

.lessonTileBody .picContainer{
   
}