.page{
    & section .sectionAnchor{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 60px;
        padding: 54px 8vw;
    }
    & section:nth-child(2n) {
        background-color: var(--color-green);
        color: white;
    }
}
.title{
    margin: 100px 0 0 0;
}
.subtitle{
    opacity: 0.5;
    margin: 30px 0;
}
.title2{
    margin: 0 0 30px 0;
}
.rulesNav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    & *{
        border-radius: 50px;
        font-size: 20px;
        font-weight: 700;
        padding: 11px 9px 11px 35px;
    }
}
.tileSuit{
    display: flex;
    flex-direction: column;
    & > div{
        align-self: center;
        margin-top: 20px;
    }
}
.noteWrapper{
    display: flex;
    gap: 10px;
    align-items: stretch;
    justify-content: stretch;
    & > div{
        flex: 1;
    }
}
.outerNoteWrapper{
    display: flex;
    gap: 21px;
    flex-direction: column;
    justify-content: stretch;
    & > div{
        flex: 1;
    }
}
.centeredNoteWrapper{
    width: 63vw;
    align-self: center;
    margin: 0 auto;
}
.winningHandContainer{
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    flex-wrap: wrap;
}
.lessonButtons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}