.container{
    width: 100%;
    height: 100%;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    gap: 40px;
    text-align: left;
    box-sizing: border-box;
    align-items: stretch;
    & > * {
        flex: 1;
    }
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > span {
        margin-top: 10px;
        font-weight: bold;
    }
}


.dark{
    background-color: var(--color-dark-green);
    color: white;
}

.medium{
    background-color: var(--color-green);
    color: white;
}

.light{
    background-color: var(--color-light-green);
    color: var(--font-color);
}
.xlight{
    background-color: var(--color-white-green);
    color: var(--font-color);
}
.white{
    background-color: white;
    color: var(--font-color);
}