nav{
    padding: 0 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-green);
    height: 70px;
    width: 100vw;
    position: fixed;
    box-sizing: border-box;
}

nav a {
    color: white;
    &:hover {
        color: white;
    }
}

.navlist{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 20vw;
    height: 100%;
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    & li {
        flex: 1;
    }
}

.navlink{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: var(--color-green);
    transition: background-color 0.2s ease;

    &:hover{
        background-color: var(--color-dark-green);
    }
}