.initialContainer {
    margin: 4.5vw 9.4vw 4.5vw 9.4vw
}

.initialContainer .pageTitle {
    display: flex;
}

.initialContainer .pageP {
    display: flex;
    color: #757575;
}

.initialContainer .prevBtn {
    margin-left: 0;
}

.initialContainer .nextBtn {
    margin-left: auto;
    margin-right: 0;
}

.initialContainer .btnContainer {
    display: flex;
    flex-direction: row;
    margin-top: 1.5vh;
}

.btnContainer #btn {
    border-radius: 25px;
    padding: 1vh 1.2vw 1vh 1.2vw;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color .25s;
    font-size: 95%;
    font-family: var(--font-main);
    background-color: #D9D9D9;
    color: var(--font-color);
    &:hover{
        background-color: #757575;
        color: white;
    }
}

.btnArrow {
    margin-top: 0.06vh;
    margin-left: 0vw;
    margin-right: 0vw;
}

.videoPlaceholder{
    border-radius: 30px;
    border: 0;
    margin-top: 3.5vh;
    width: 81.2vw;
    height: 81.2vh;
}

.pageDescription {
    margin-top: 5vh;
}

.pageDescription h2, p{
    text-align: left;
}

.btnWrapper{
    display: flex;
    justify-content: center;
}

.optionBtns {
    width: 40vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
}

.optionBtns .testBtn {
    margin-left: 0;
}

.optionBtns .backToBtn {
    margin-left: auto;
    margin-right: 0;
}


