.pillButtonBody{
    border-radius: 25px;
    padding: 11px 9px 11px 25px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease-out;
    font-weight: 600;
}

.dark{
    background-color: var(--color-dark-green);
    color: white;
    &:hover{
        background-color: var(--color-dark-green-hover);
        color: white;
    }
}
.medium{
    background-color: var(--color-green);
    color: white;
    &:hover{
        background-color: var(--color-green-hover);
        color: white;
    }
}
.light{
    background-color: var(--color-light-green);
    color: var(--font-color);
    &:hover{
        background-color: var(--color-light-green-hover);
        color: var(--font-color);
    }
}
.white{
    background-color: white;
    color: var(--font-color);
    &:hover{
        background-color: var(--color-white-green);
        color: var(--font-color);
    }
}