@import './variables.css';

:root {
  font-family: var(--font-main);
  line-height: 1.5;
  font-size: var(--size-standard);

  color: var(--font-color);
}

a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-family: var(--font-heading);
}
h1{
  font-size: var(--size-h1);
}
h2{
  font-size: var(--size-h2);
  margin: 35px;
}
h3{
  font-size: var(--size-h3);
}
h4{
  font-size: var(--size-h4);
}
em{
  font-size: var(--size-em);
  font-style: normal;
  font-weight: bold;
}
p{
  margin: 0;
  font-size: var(--size-standard);
}
main{
  margin-top: 70px;
}
section{
  padding: 25px 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}