@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400..800&display=swap');

:root {
    --font-main: 'Lexend', sans-serif;
    --font-heading: 'Sora', sans-serif;

    --size-h1: 64px;
    --size-h2: 24px;
    --size-h3: 18px;
    --size-h4: 16px;
    --size-em: 20px;
    --size-standard: 16px;

    --font-color: black;

    --bg-light-gray: #D9D9D9;
    --color-white-green: #D6F3E4;

    --color-dark-green: #03440C;
    --color-dark-green-hover: #154D1D;
    
    --color-green: #016732;
    --color-green-hover: #2B8054;

    --color-light-green: #78BB9D;
    --color-light-green-hover: #8FC6AD;

    
}
