.iconButtonBody{
    border-radius: 25px;
    padding: 11px 25px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    & .text {
        font-weight: 600;
        font-size: 18px;
    }
    & .icon { 
        & > *{
            width: 25px;
            height: 25px;
        }
    }
}

.dark{
    background-color: var(--color-dark-green);
    color: white;
    &:hover{
        background-color: var(--color-green);
        color: white;
    }
}

.medium{
    background-color: var(--color-green);
    color: white;
    &:hover{
        background-color: #D9D9D9;
        color: white;
    }
}

.light{
    background-color: var(--color-light-green);
    color: var(--font-color);
    &:hover{
        background-color: var(--color-white-green);
        color: var(--font-color);
    }
}

.white{
    background-color: white;
    color: var(--font-color);
    &:hover{
        background-color: var(--color-light-green);
        color: white;
    }
}